a {
  color: rgb(0, 0, 0) ff; /* Change text color */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
}

a:hover {
  color: #000000; /* Change color on hover */
}
.a.i {
  color: rgb(0, 0, 0);
}
